{% extends 'game/layout.html' %}

{% block body%}
    <h2 class="display-2 text-center">
        GAMES
    </h2>
    <form class="text-center mt-3" action ="{% url 'game:games' %}" method='post'>
        {% csrf_token %} 
        {{form}}
        <input type='submit' value='Search'>
    </form>
    <div class="text-center my-3"><a href ="{% url 'game:creategame' %}">
        Create New Game
    </a></div>
    
    <div class="row">
        {% for game in games %}
        <div class="col">
            <a href="room/{{game.name}}" class="card btn btn-outline-danger text-left" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{game.name}}</h5>
                  <p class="card-text">{{game.num_of_players}}/{{game.max_people}}</p>
                </div>
            </a>
        </div>
        {% empty %}
            <div class='text-center'>No One Is Playing Right Now :(</div>
        {% endfor %}
    </div>



<!--
    <ul>
        {% for game in games %}
            <li>{{ game }}</li>
        {% empty %}
            <div class='text-center'>No One Is Playing Right Now :(</div>
        {% endfor %}
    </ul>
-->
{%endblock%}

