{% extends 'game/layout.html' %}

{% block body%}
    <h2 class="display-2 text-center">
        GAMES
    </h2>
    <form class="text-center mt-3" action ="{% url 'game:games' %}" method='post'>
        {% csrf_token %} 
        {{form}}
        <input type='submit' value='Search'>
    </form>
    <div class="text-center my-3"><a href ="{% url 'game:creategame' %}">
        Create New Game
    </a></div>
    <ul>
        {% for game in games %}
            <li>{{ game }}</li>
        {% empty %}
            <div class='text-center'>No One Is Playing Right Now :(</div>
        {% endfor %}
    </ul>
{%endblock%}

