{% extends 'game/layout.html' %}

{% block body%}
{% load static %}
<h2 class="display-2 text-center" id='heading'>
    HOW TO PLAY
</h2>
  <div style="max-width: 700px;" class="mx-auto">
    <div class="card my-3">
      <div class="card-header bg-danger text-white" id="headingOne">
        <h5 class="mb-0">
          Set Profile
        </h5>
      </div>
  
        <div class="card-body">
          <ul class="list-group list-group-flush">
              <li class="list-group-item">Click "Set Profile" button or <a class="text-danger" href = "{% url 'game:setprofile' %}">here</a></li>
              <li class="list-group-item">Pick a username</li>
              <li class="list-group-item">Upload a picture</li>
              <li class="list-group-item">Write a description</li>
          </ul>
        </div>
    </div>
    <div class="card my-3">
      <div class="card-header bg-danger text-white" id="headingTwo">
        <h5 class="mb-0">
          Join or Create Game
        </h5>
      </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
              <li class="list-group-item"><a class="text-danger" href = "{% url 'game:games' %}">Join</a> or <a class="text-danger" href = "{% url 'game:creategame' %}">create</a> game</li>
              <li class="list-group-item">The game requires 4+ people</li>
            </ul>
        </div>
    </div>
    <div class="card my-3">
      <div class="card-header bg-danger text-white" id="headingThree">
        <h5 class="mb-0">
          Roast Each Other!
        </h5>
      </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">The player who reaches the goal score first wins</li>
            <li class="list-group-item">Roast the roastee<img src="{% static 'game/logo.png' %}" style="width:20px;height:20px;"></li>
            <li class="list-group-item">The judge<img src="{% static 'game/gavel.png' %}" style="width:20px;height:20px;"> will decide the winner of the round</li>
            <li class="list-group-item">The winner will judge the next round</li>
            <li class="list-group-item">And the next roastee<img src="{% static 'game/logo.png' %}" style="width:20px;height:20px;"> will be randomly picked</li>
            <li class="list-group-item">For the first round and skipped rounds, roles will be randomly assigned</li>
          </ul>
        </div>
    </div>
    <div class="card my-3">
      <div class="card-header bg-danger text-white" id="headingThree">
        <h5 class="mb-0">
          Tips
        </h5>
      </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">If you get timed out twice, you will be kicked</li>
            <li class="list-group-item">Admin<img src="{% static 'game/gavel.png' %}" style="width:20px;height:20px;"> has the ability to start game and skip rounds</li>
            <li class="list-group-item">Do not reveal any personal information</li>
            <li class="list-group-item">Use Firefox or Google Chrome for best experience</li>
            <li class="list-group-item">
              <script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#29abe0', 'H2H32DQUW');kofiwidget2.draw();</script> 
            </li>          
          </ul>
        </div>
    </div>
  </div>

 
  
{%endblock%}