{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Roast Me Game</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        html, body{
            height: 100%;
        }
    </style>
</head>
<body>
    <div class='container min-vh-100' id='container'>
        <div id = "fixed_top">
            <nav class="navbar justify-content-around">
                <a class="btn btn-outline-danger btn-lg pl-2 m-1" href = "{% url 'game:index' %}">
                    <img src="{% static 'game/logo.png' %}" style="width:23px;height:23px;"> HOME
                </a>
                <a class="btn btn-outline-danger btn-lg pl-2 m-1" href = "{% url 'game:games' %}">
                    <img src="{% static 'game/logo.png' %}" style="width:23px;height:23px;"> GAMES
                </a>
                <a class="btn btn-outline-danger btn-lg pl-2 m-1" href = "{% url 'game:support' %}">
                    <img src="{% static 'game/logo.png' %}" style="width:23px;height:23px;"> SUPPORT/CONTACT
                </a>
                {% if user %}
                    <a class="btn btn-outline-danger btn-lg pl-2 m-1" href = "{% url 'game:profile' %}">
                        <img src="{% static 'game/logo.png' %}" style="width:23px;height:23px;"> Profile
                    </a>
                {% else %}
                    <a class="btn btn-outline-danger btn-lg pl-2 m-1" href = "{% url 'game:setprofile' %}">
                        <img src="{% static 'game/logo.png' %}" style="width:23px;height:23px;"> Set Profile
                    </a>
                {% endif %}
                    
            </nav>

            <h1 class="display-1 text-center">
                ROAST ME
            </h1>
        </div>

        {% block body %}
        {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>