{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Game Room</title>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div id="app" style="height: 100vh;"></div>

    <script type="text/babel">
        var MESSAGE;
        class Player extends React.Component{
            render(){
                if (this.props.kickable){
                    var badgeClass = "badge badge-warning my-auto";
                }
                else {
                    var badgeClass = "badge badge-primary my-auto";
                }

                if (this.props.state === 1){
                    var imgSrc = "{% static 'game/logo.png' %}";
                    var imgStyle = {display: "inline"};
                } else if (this.props.state === 2){
                    var imgSrc = "{% static 'game/gavel.png' %}";
                    var imgStyle = {display: "inline"};
                } else{
                    var imgSrc = "";
                    var imgStyle = {display: "none"};
                }

                var adminSrc = "{% static 'game/star.png' %}";
                if (this.props.admin) {
                    var adminStyle = {display: "inline"};
                } 
                else {
                    var adminStyle = {display: "none"};
                }
        
                return(
                    <li className='list-group-item d-flex justify-content-between align-items-center'>
                        <span className="mr-3">
                            {this.props.name} <img height="20px" width="20px" src={imgSrc} style={imgStyle}/>
                        </span>
                        <span>
                            <img className = "mr-1" height="20px" width="20px" src={adminSrc} style={adminStyle}/> <div className={badgeClass}> {this.props.score}</div>
                        </span>
                        
                    </li>
                );
            }
        }
        class Scoreboard extends React.Component{
            /*
            constructor(props){
                super(props);
                this.state = {
                    loading: true
                };
            }*/
            render(){
                const data = this.props.players;
                var items = Object.keys(data).map(key => 
                    <Player key={key} name={key} state={data[key].state} score={data[key].score} admin={data[key].admin} kickable={data[key].kickable}/>
                );
                return(
                    <ul className='list-group my-3'>
                        {items}
                    </ul>
                );
            }

            update = () => {
                this.setState(state => ({
                    loading: false
                }))
            }
        }

        class StartButton extends React.Component{
            render(){
                if (this.props.player.button && this.props.game.state < 3){
                    var buttonStyle = {display: "block"};
                    if (this.props.game.state === 0){
                        var text = "start";
                        var func = startGame;
                    } else {
                        var text = "skip";
                        var func = skip;
                    }
                } else {
                    var buttonStyle = {display: "none"};
                    var text = "";
                    var func = null
                }
                return(
                    <button className = "btn btn-outline-danger m-auto" onClick={func} style={buttonStyle}> {text} </button>
                );
            }
        }
        class Roastee extends React.Component{

            componentDidUpdate(prevProps, prevState) {
                if (this.props.game.state !== 0 && this.props.game.state !== 4){
                    var img = images[this.props.game.roastee.username];
                    var imageContainer = document.getElementById("roastImage");
                    imageContainer.replaceChild(img, imageContainer.childNodes[0]);
                }
            }

            render(){
                if (this.props.game.state !== 0 && this.props.game.state !== 4){
                    var roasteeStyle = {display: "block"};
                    return(
                        <div className="card my-3" style={roasteeStyle}>
                            <div id="roastImage">
                                <img/>
                            </div>
                            <div className="card-body" id="cardBody">
                                <h5 className="card-title">{this.props.game.roastee.username}</h5>
                                <div id="card-text" className="card-text">{this.props.game.roastee.description}</div>
                            </div>
                        </div>
                    );
                } else {
                    return(
                        <div></div>
                    )
                }
            }
        }

        class Roast extends React.Component{
            constructor(props) {
                super(props);
                // This binding is necessary to make `this` work in the callback
                this.handleClick = this.handleClick.bind(this);
            }

            handleClick(){
                const roastContent = document.getElementById("roastContent").value;
                document.getElementById("roastContent").value = "";
                document.getElementById("roastButton").style.display = "none";
                document.getElementById("message").innerHTML = "Waiting for other players...";
                gameSocket.send(JSON.stringify({"action": "roast", "message": roastContent}));
            }
            render(){
                if (this.props.player.state === 0 && this.props.player.submitted === false && this.props.game.state === 1){
                    var inputStyle = {display: "block"}
                } else {
                    var inputStyle = {display: "none"}
                }
                var borderStyle = {borderColor: "#dc3545"}
                return(
                    <div style={inputStyle} id="roastButton" className="my-3">
                        <div className="input-group">
                            <textarea required maxLength="400" style = {borderStyle} id = "roastContent" className="form-control" aria-label="With textarea"></textarea>
                            <div className="input-group-append">
                                <button onClick={this.handleClick} className="btn btn-danger">Roast</button>
                            </div>
                        </div>
                        <small id="roastContentHelp" className="text-right form-text">max 400 characters</small>
                    </div>
                )
            }
        }
        class Selection extends React.Component{
            render(){
                if (this.props.game.state === 3){
                    var cardStyle = {display: "block"};
                } else{
                    var cardStyle = {display: "none"};
                }

                return(
                    <div className="card text-white bg-danger my-3" style={cardStyle}>
                        <div className="card-header">{this.props.game.roundWinner}</div>
                        <div className="card-body">
                            <p className="card-text">{this.props.game.selectedRoast}</p>
                        </div>
                    </div>
                )
            }
        }
        class JudgeButton extends React.Component{
            constructor(props) {
                super(props);
                // This binding is necessary to make `this` work in the callback
                this.handleClick = this.handleClick.bind(this);
            }
            
            handleClick(){
                    if (this.props.player.state === 2){
                        document.getElementById("judge").style.display = "none";
                        gameSocket.send(JSON.stringify({"action":"judge", "player": this.props.username}));
                    }
                }

            render(){
                //var buttonStyle = {maxWidth: "18rem;"}
                if (this.props.player.state === 2){
                    var classStyle = "card btn-outline-danger my-3";
                    var textStyle = "card-body";
                } else{
                    var classStyle = "card my-3";
                    var textStyle = "card-body text-danger";
                }

                return(
                    <div className={classStyle} onClick={this.handleClick}>
                        <div className={textStyle}>
                            <p className="card-text">{this.props.content}</p>
                        </div>
                    </div>
                )
            }
        }

        class Judge extends React.Component{
            render(){
                if (this.props.game.state === 2){
                    var judgeStyle = {display: "block"}
                } else {
                    var judgeStyle = {display: "none"};
                }
                const data = this.props.game.roast;
                var items = Object.keys(data).map(key => 
                    <JudgeButton key={key} username={key} content={data[key]} player={this.props.player}/>
                )
                return(
                    <div className="my-3" style={judgeStyle} id="judge">
                        {items}
                    </div>
                )
            }
        }

        class Timer extends React.Component{
            constructor(props) {
                super(props);
                this.state = {time: props.game.timer - Math.round((new Date() - new Date(props.game.time))/1000 )};
            }
            componentDidMount() {
                this.interval = setInterval(() => {
                    let t = this.props.game.timer - Math.round((new Date() - new Date(this.props.game.time))/1000 );
                    if (t >= 0){
                        this.setState({time: t});
                    } else {
                        if (this.props.player.admin && (this.props.game.state === 1 || this.props.game.state === 2)){
                            gameSocket.send(JSON.stringify({'action': "time_out"}));
                        }
                    }
                }, 1000);
            }

            componentWillUnmount() {
                clearInterval(this.interval);
            }

            componentDidUpdate(prevProps, prevState) {
                if (prevProps.game.state !== this.props.game.state){
                    this.setState({time: this.props.game.timer - Math.round((new Date() - new Date(this.props.game.time))/1000 )})
                }
            }

            render(){
                if (this.props.game.state === 1 || this.props.game.state === 2){
                    var timerStyle = {display: "block"};
                    if (this.state.time < 10) {
                        var timerClass = "text-center my-3 badge badge-danger";
                    }
                    else if (this.state.time < 20) {
                        var timerClass = "text-center my-3 badge badge-warning";
                    }
                    else {
                        var timerClass = "text-center my-3 badge badge-primary";
                    }
                } else {
                    var timerStyle = {display: "none"};
                    var timerClass = "";
                }
                return(
                    <div className = {timerClass} style={timerStyle}>{this.state.time}</div>
                )
            }
        }

        class Message extends React.Component{
            render(){
                if (this.props.game.state === 0){
                    var message = "Get Ready to Roast Each Other!"
                }
                else if (this.props.game.state === 1){
                    if (this.props.player.state === 0){
                        var message = "Your turn to roast!"
                    } 
                    else if (this.props.player.state === 1){
                        var message = "Your turn to get roasted!"
                    }
                    else {
                        var message = "Your turn to judge!"
                    }
                }
                else if (this.props.game.state === 2){
                    if (this.props.player.state === 2){
                        var message = "Pick your favorite roast!"
                    }
                    else{
                        var message = "Waiting for the judge..."
                    }
                }
                else if (this.props.game.state === 3){
                    var message = `${this.props.game.roundWinner} won the round!`
                }
                else {
                    var message = `${this.props.game.winner} won the game!`
                }

                return (
                    <div id = "message" className = "text-center my-3"> 
                        {message}
                    </div>
                )
            }
        }

        class App extends React.Component{
            render(){
                var maxheight = {height: "100%", width: "100%"}
                return(
                    <div className="container-fluid" style={maxheight}>
                        <div className="row" style={maxheight}>
                            <div className="col-xl-3 m-auto">
                                <div>
                                    <Scoreboard players={this.props.game.players}/>
                                    <StartButton player={this.props.player} game = {this.props.game}/>
                                </div>
                            </div>
                            <div className="col-xl-6 m-auto">
                                <div>
                                    <Roastee game ={this.props.game}/>
                                </div>
                            </div>
                            <div className="col-xl-3 m-auto">
                                <div>
                                    <Timer game = {this.props.game} player = {this.props.player} sent = {false}/>
                                    <Message player={this.props.player} game = {this.props.game}/>
                                    <Judge player={this.props.player} game = {this.props.game}/>
                                    <Selection player={this.props.player} game = {this.props.game}/>
                                    <Roast player={this.props.player} game = {this.props.game}/>
                                </div>
                            </div>
                        </div>
                    </div>
                )
            }
        }
 
        // websocket comp
        const roomName = "{{room_name}}";

        const gameSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/game/'
            + roomName
            + '/'
        );

        function skip(){
            gameSocket.send(JSON.stringify({'action': "skip"}));
        }
        function startGame(){
            gameSocket.send(JSON.stringify({'action': "startGame"}));
        }
        
        function scrollDown(){
            window.scrollTo(0,document.body.scrollHeight);
        }
        var images = {}

        gameSocket.onmessage = function(e) {
            MESSAGE = e;
            console.log(e);
            console.log(e.size);
            const data = JSON.parse(e.data);
            console.log(data);
            if (data.action === "game_update"){
                    /* do this after having a server name
                    else {
                        if (images[player].src !== data.game.players[player].image){
                            var image = new Image();
                            image.src = data.game.players[player].image;
                            image.className = "card-img-top";
                            images[player] = image;
                            console.log("new image 2");
                        }
                    }
                    */
                ReactDOM.render(<App game={data.game} player={data.player}/>, document.getElementById("app"));
                if (data.scroll){
                    scrollDown();
                }
            }
            else if (data.action === "image_update"){
                var image = new Image();
                image.src = data.src;
                image.className = "card-img-top";
                images[data.player] = image;
                console.log(`new image for ${data.player}`);
            }
            else if (data.action === "exit"){
                gameSocket.close(3000);
            }
        };

        gameSocket.onclose = function(e) {
            alert('Websocket closed unexpectedly');
        };
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>