{% extends 'game/layout.html' %}

{% block body%}
<div id='main' class='d-flex flex-column'>
    <script>
        const body_height = document.getElementById('container').offsetHeight;
        const used_height = document.getElementById('fixed_top').scrollHeight;
        const remaing_height = ((body_height - used_height)*.75).toString().concat("px");
        document.getElementById('main').style.height = remaing_height;

        function displayImage(input){
            console.log(input)
            var reader = new FileReader();
            reader.onload = function(e){
                img = document.getElementById("userImage");
                img.setAttribute('src', e.target.result);
                img.setAttribute('width', document.getElementById("profileImage").offsetWidth);
            }
            reader.readAsDataURL(input.files[0])
        }
    </script>

    <div class='row flex-grow-1 justify-contents-center m-3'>
        <div class='col my-auto'>
            <div class='display-2 text-center'>
                SIGN UP
            </div>
            <form enctype="multipart/form-data" id="signup-form" action="{% url 'game:signup' %}" style='max-width: 330px; margin:auto' method="POST">
                {% csrf_token %} 
                <div class="form-group">
                    <label for="InputID">ID</label>
                    <input name='InputID' type="text" class="form-control" id="InputID" aria-describedby="IDHelp" placeholder="Enter ID" autofocus>                    
                </div>
                <div class="form-group">
                    <label for="InputPassword">Password</label>
                    <input name='InputPassword' type="password" class="form-control" id="InputPassword" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="InputConfirm">Confirm</label>
                    <input name='InputConfirm' type="password" class="form-control" id="InputPassword" placeholder="Confirm">
                </div>
                <div class="form-group">
                    <label class="my-auto" for="profileImage">Upload a picture</label><br>
                    <input onchange="displayImage(this);" name='profileImage' type="file" class="form-control" id="profileImage" accept="image/x-png,image/jpeg">
                    <img id="userImage">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" form ="signup-form" name="description" id="description" ></textarea>
                </div>
                <input type="submit" class="btn btn-primary" value="Submit">
                {% if message %}
                        <span class='float-right'>{{message}}</span>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{%endblock%}